.member-topbar {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 1rem;
  }
  
  .member-search-container {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;  }
  
  .member-search-input {
    width: 60%;
    max-width: 300px;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .member-user-info {
    margin-left: auto;
    font-weight: 500;
    color: #333;
  }
  