.small-calendar .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
  text-align: center;
  width: 100%;
  height: 100%;
}

.small-calendar .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
  height: 40px;
}

.small-calendar .ant-picker-calendar-date-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
