.children-sidebar {
    background-color: #fff;
    width: 60px;
    transition: width 0.3s ease;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  .children-sidebar:hover {
    width: 200px;
  }
  
  .children-sidebar-header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px;
    gap: 10px;
    cursor: pointer;
  }
  
  .sidebar-logo-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .sidebar-logo-text {
    width: 100px;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .children-sidebar:hover .sidebar-logo-text {
    opacity: 1;
  }
  
  .children-sidebar-nav {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
  }
  .children-sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .children-sidebar-nav li {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #333 !important;
    cursor: pointer;
     transition: background 0.2s, transform 0.2s;
    border-radius: 8px;
  }
  .children-sidebar-nav li:hover {
    background: rgba(0, 121, 107, 0.15); /* Xanh nhạt */
    transform: translateX(5px); /* Nhấn mạnh hiệu ứng */
  }
  .children-sidebar-nav li i {
    font-size: 18px;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    color: #008080 !important;
  }
  .children-sidebar-nav li:hover i {
    color: #004d40; /* Xanh đậm hơn khi hover */
}
  .children-sidebar-nav li span {
    white-space: nowrap;
    color: #000;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .children-sidebar:hover li span {
    opacity: 1;
  }
  .children-sidebar-nav li.active {
    background: #98efe6; /* Nổi bật hơn */
    border-left: 5px solid #00796b; /* Đường kẻ bên trái */
    transform: translateX(5px);
}
.children-sidebar-nav li.active i {
  color: #004d40 !important; /* Giữ màu icon xanh đậm */
}
.children-sidebar-nav li.active span {
  color: #004d40 !important; /* Giữ màu chữ */
}
  .menu-item {
    text-decoration: none;
    color: #333 !important;
    display: flex;
    align-items: center;
    gap: 8px;
}